body {
  background: url('/assets/images/background.png');
  background-size: 15%;
  margin: 0;
  font-family: 'Quattrocento Sans', sans-serif;
}

header {
  background: #ffdd4e url('/assets/images/header.png') 20px center no-repeat;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-size: 30%;
  height: 150px;
  border-bottom: 5px solid #ef4937;
}

#navContainer {
  position: absolute;
  top: 25px;
  right: 20px;
  display: flex;
  margin: auto;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

#homeNav, #garnetNav, #amethystNav, #pearlNav {
  display: inline-block;
  height: 6rem;
  width: 6rem;
  margin-top: 35px;
  border-radius: 50%;
}

#homeNav img, #garnetNav img, #amethystNav img, #pearlNav img {
  height: 6rem;
  width: 6rem;
}

#homeNav:hover, #garnetNav:hover, #amethystNav:hover, #pearlNav:hover {
  opacity: 0.8;
}

.nav a {
  display: block;
}

#homeNav {
  background: url('/assets/images/homeNav.png') center center;
  background-size: cover;
  align-self: flex-start;
}

#garnetNav {
  background: url('/assets/images/garnetNav.png') center center;
  background-size: cover;
}

#amethystNav {
  background: url('/assets/images/amethystNav.png') center center;
  background-size: cover;
}

#pearlNav {
  background: url('/assets/images/pearlNav.png') center center;
  background-size: cover;
  align-self: flex-end;
}

#homeContainer, #garnetContainer, #amethystContainer, #pearlContainer {
  padding-bottom: 20px;
  height: 500px;
  width: 85%;
  overflow: scroll;
  text-align: justify;
  border-radius: 20px;
  margin: 40px auto auto auto;
}

#homeContainer {
  background: hsla(0,0%,100%, 0.8) url('/assets/images/gems.png') bottom right no-repeat;
  background-size: 50%;
  border: 3px solid #9c8fc5;
}

#homeContainer h2 {
  background: #9c8fc5;
}

#garnetContainer {
  background: hsla(0,0%,100%, 0.8) url('/assets/images/garnet.png') bottom right no-repeat;
  background-size: 30%;
  border: 3px solid #ffabab;
}

#amethystContainer {
  background: hsla(0,0%,100%, 0.8) url('/assets/images/amethyst.png') bottom right no-repeat;
  background-size: 40%;
  border: 3px solid #fdabff;
}

#garnetContainer a, #amethystContainer a, #pearlContainer a {
  display: block;
  width: 45%;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 30px;
}

#garnetContainer a {
    background: #ffabab;
}

#amethystContainer a {
  background: #fdabff;
}

#garnetContainer div {
  font-size: 1rem;
  width: 40%;
  padding-left: 60px;
}

#garnetContainer h2 {
  background: #ffabab;
}

#homeContainer h2, #garnetContainer h2 {
  font-family: 'Passion One', cursive;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  font-size: 6rem;
  text-align: center;
}

footer {
  text-align: center;
  padding: 50px;
}
