<div id="#garnetContainer">

  <a href ng-click="garnetHistory = !garnetHistory" class="historyLink garnet gemItem">History</a>
  <div ng-show="garnetHistory">
    <p>Garnet is the fusion of Ruby and Sapphire and the current de-facto leader of the Crystal Gems after the previous leader Rose Quartz. Garnet is one of the last surviving Gems on Earth who joined the Crystal Gems in the rebellion against the Gem Homeworld, and afterwards assisted her friends in protecting the Earth over the next millennia. After Rose Quartz gave up her physical form to give birth to her son, Steven Universe, Garnet took over as the leader of the group.</p>
  </div>

  <a href ng-click="garnetPersonality = !garnetPersonality" class="personalityLink garnet gemItem">Personality</a>
  <div ng-show="garnetPersonality">
    <p>Though she is often the most pragmatic and straightforward of the Crystal Gems, Garnet tends to act on intuition rather than seriously analyzing a situation, as often seen throughout the series. As the leader, Garnet is often the peacemaker of the Crystal Gems, especially when Pearl and Amethyst start arguing. She demands utmost respect from the other Crystal Gems and is not hesitant to berate team members should they refuse to follow an order.</p>
    <p>Equable and mellow, Garnet is capable of remaining composed in most situations - this part is taken from Sapphire. This is displayed in the episode, "The Return", where Amethyst and Pearl were at a loss for words when they tried to explain to Steven why he was forbidden from fighting alongside them at the Gem Warship's landing. Garnet was the only Crystal Gem who was able to effectively get their point across and convince Steven to join Beach City's evacuation. She was able to remain strong and act practically despite the dangerous and uncertain situation.</p>
    <p>Garnet demonstrates a fierce competitive spirit. This is best seen while she's playing volleyball in "Beach Party", "Steven Tag" in "Keep Beach City Weird" and arcade games in "Arcade Mania". Garnet also has a tendency to act in extremes, either maintaining her normally reserved nature or lashing out with extreme emotion, both of these personalities belonging to her two constituent Gems, the passionate Ruby and conservative Sapphire. Despite this, it should also be noted that Garnet can be seen with emotions neutral to these, but it is a rare occurrence.</p>
    <p>While mostly level-headed, Garnet can still lose her cool. When Steven began rapidly aging in "So Many Birthdays", Garnet started violently shaking him, thinking, in her desperation, that violence might be the answer. Another example of this can be seen in "Fusion Cuisine" as she panics under pressure when talking to Connie's mother over the phone, leading her to claim that Steven and Connie had died while playing with swords.</p>
    <p>Garnet clearly believes fusion to be sacred and personal, something that can be traced back to Ruby rather than Sapphire. Garnet tells Stevonnie in "Alone Together" that a fusion is considered neither one person nor two people, but rather an experience. She was open enough to answer Steven's personal questions regarding Ruby and Sapphire in "Keeping it Together". As such, any form of misuse of fusion greatly upsets Garnet and is one of the few things that breaks her otherwise calm and controlled demeanor; seeing Homeworld's experiments disturbed and frightened her so immensely that she nearly separated from the shock. The belief in fusion leads to her extreme reaction to seeing Smoky Quartz for the first time, but it also allows her to aid Steven, Connie, and by extension Stevonnie work through their negative emotions.</p>
  </div>

  <a href ng-click="garnetFusions = !garnetFusions" class="fusionsLink garnet gemItem">Fusions</a>
  <div ng-show="garnetFusions">
    <ul>
      <li>When fused with Amethyst, they form Sugilite.</li>
      <li>When fused with Pearl, they form Sardonyx.</li>
      <li>When fused with Amethyst and Pearl, they form Alexandrite.</li>
    </ul>
  </div>

  <a href ng-click="garnetFacts = !garnetFacts" class="factsLink garnet gemItem">Fun Facts</a>
  <div ng-show="garnetFacts">
    <ul>
      <li>Garnet's room is assumed to be the Burning Room, seeing as she is the only one seen accessing it through the temple gate and there's a pool of lava that runs throughout the room.</li>
      <li>Garnet has complete Heterochromia iridum, which means each of her eyes are a different color. The left eye is deep blue (representing Sapphire), the right eye medium red (representing Ruby), and the top eye is colored purple (representing both Ruby and Sapphire)</li>
      <li>Garnet's third eye having the ability to see different future outcomes may be a reference to the third eye Chakra, also known as inner eye, a style of meditation in which one would be able to have better insight, or even see the future.</li>
      <li>In "Steven and the Stevens" and "We Need to Talk", it is shown that Garnet knows how to play the keytar, and that Greg may have taught her how to play it.</li>
      <li>It has been seen in both "Fusion Cuisine" and "Know Your Fusion" that when a fusion involving Garnet falls apart, Ruby and Sapphire's holograms can be seen holding onto each other before they can refuse before completely taking form.</li>
      <li>It was revealed in "Future Vision" that Garnet drinks coffee.</li>
      <li>Garnet's shades tend to change tints depending on whether Sapphire or Ruby's personality is showing more.</li>
      <li>In "Steven's Birthday" Greg and Garnet are seen looking at a "Stella" album. The name and appearance references Shine, an album by Garnet's voice actor, Estelle.</li>
    </ul>
  </div>
</div>
